<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>チャットルーム</title>
    <link type="text/css" rel="stylesheet" href="bmesse.css" />
  </head>
  <body>
    
    <!-- 自分やユーザーの情報 -->
    <div id="your_container">
        <!-- チャットの外側部分① -->
        <div id="bms_messages_container">
            <!-- ヘッダー部分② -->
            <div id="bms_chat_header">
                <!--ステータス-->
                <div id="bms_chat_user_status">
                    <!--名-->
                    <div id="bms_chat_user_name">チャットルーム</div>
                </div>
            </div>
            <!-- テキストボックス、送信ボタン④ -->
            <div id="bms_send">
                <textarea id="bms_send_message"></textarea>
                <div id="bms_send_btn"><%= link_to'チャットを送信する', new_tweet_path %></div>
            </div>
        </div>
    </div>
  </body>
</html>




<% @tweets.each do |e| %>
  <p>
    <%= e.message %>
    <% if current_user %>
      <%= link_to '削除', tweet_path(e), method: :delete %>
      <% if e.likes.count > 0 %>
        <%= link_to '★', like_path(e), method: :delete %>
      <% else %>
        <%= link_to '☆', likes_path(tweet_id: e.id), method: :post %>
      <% end %>
    <% end %>
    </p>
<% end %>



<p>
   <% if current_user %>
  <li><a href="https://www.soccer-king.jp/team/article/420257.html">アビスパ福岡</a></li>
  <li><a href="https://www.soccer-king.jp/team/article/420192.html">浦和レッズ</a></li>
  <li><a href="https://www.soccer-king.jp/team/article/420248.html">ヴィッセル神戸</a></li>
  <li><a href="https://www.soccer-king.jp/team/article/420198.html">FC東京</a></li>
  <li><a href="https://www.soccer-king.jp/team/article/420222.html">大分トリニータ</a></li>
  <li><a href="https://www.soccer-king.jp/team/article/420190.html">鹿島アントラーズ</a></li>
  <li><a href="https://www.soccer-king.jp/team/article/420196.html">柏レイソル</a></li>
  <li><a href="https://www.soccer-king.jp/team/article/420200.html">川崎フロンターレ</a></li>
  <li><a href="https://www.soccer-king.jp/team/article/420246.html">ガンバ大阪</a></li>
  <li><a href="https://www.soccer-king.jp/team/article/420220.html">サガン鳥栖</a></li>
  <li><a href="https://www.soccer-king.jp/team/article/420218.html">サンフレッチェ広島</a></li>
  <li><a href="https://www.soccer-king.jp/team/article/420210.html">清水エスパルス</a></li>
  <li><a href="https://www.soccer-king.jp/team/article/420204.html">湘南ベルマーレ</a></li>
  <li><a href="https://www.soccer-king.jp/team/article/420216.html">セレッソ大阪</a></li>
  <li><a href="https://www.soccer-king.jp/team/article/420253.html">徳島ヴォルティス</a></li>
  <li><a href="https://www.soccer-king.jp/team/article/420214.html">名古屋グランパス</a></li>
  <li><a href="https://www.soccer-king.jp/team/article/420224.html">北海道コンサドーレ札幌</a></li>
  <li><a href="https://www.soccer-king.jp/team/article/420188.html">ベガルタ仙台</a></li>
  <li><a href="https://www.soccer-king.jp/team/article/420237.html">横浜FC</a></li>
  <li><a href="https://www.soccer-king.jp/team/article/420202.html">横浜F・マリノス</a></li>
  <% end %>
</p>

<p> 
<% if current_user %>
  <%= link_to 'ツイートする', new_tweet_path %>
<% end %>
</p>

<p>
<% if current_user %>
  <%= link_to 'ログアウト', top_logout_path %>
<% else %>
  <%= link_to 'ログイン', top_main_path %>
<% end %>
</p>

<p>
  <%= link_to 'ユーザー登録', users_path %>
</p>
