<!DOCTYPE html>
  <body bgcolor="#87cefa">
    <font size="5"><font color="black" bgcolor="black">～⚽️ZEEKO チーム情報⚽️～</font></font>
  </body>
  

<html>
  <head>
    <title>L5</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <p>
    <% if session[:login_uid] %>
      ログイン中（<%= current_user %>さん）
    <% else %>
      ログインしていません
    <% end %>
    </p>
  </body>
</html>
