<!DOCTYPE html>
  <body>
    <center><font size="7"><font color="black" bgcolor="black">～⚽️ZEEKO チーム情報⚽️～</font></font></center>
  </body>
  <style type="text/css">
body {
   background-color: #486d46;            
   background-image: url("https://pro-foto.jp/free/img/images_big/bal0002-001.jpg"); 
   background-size: cover;               
   background-attachment: fixed;         
   background-position: center center;  
}
</style>
  

<html>
  <head>
    <title>L5</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <p>
    <% if session[:login_uid] %>
      ログイン中（<%= current_user %>さん）
    <% else %>
      ログインしていません
    <% end %>
    </p>
  </body>
</html>
